@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('keyframe.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.swiper {
  width: 100%;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.hero-gradient {
  background: linear-gradient(97.86deg, #a509ff 0%, #34acc7 53.65%, #a134c7 100%);
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343ff, #00000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343ff, #00000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.filter-gradient {
  background: linear-gradient(180deg, #333333 0%, rgba(51, 51, 51, 0.9) 50%, rgba(51, 51, 51, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.white-gradient {
  background: #e6e6e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dbdbde, #e6e6e8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dbdbde, #e6e6e8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white-glossy {
  background: #e6e6e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #f0f4ffaa, #f0faffaa); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #f0f4ffaa, #f0faffaa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

.blue-gradient {
  background: #c6d8ee;
  background: linear-gradient(90deg, #fefefe 1.7%, #f5feff 36.54%, #e0eef9 65.03%, #c6d8ee 100%);
  background: -webkit-linear-gradient(90deg, #fefefe 1.7%, #f5feff 36.54%, #e0eef9 65.03%, #c6d8ee 100%);
}

.sky-gradient {
  background: #3b82f6;
  background: linear-gradient(90deg, #bae6fd 50%, #7dd3fc 66.67%, #60a5fa 83.33%, #3b82f6 100%);
  background: -webkit-linear-gradient(90deg, #bae6fd 50%, #7dd3fc 66.67%, #60a5fa 83.33%, #3b82f6 100%);
}

.cloud-gradient {
  background: #5899e2;
  background: linear-gradient(90deg, #fefefe 20%, #f5feff 40%, #deebf9 60%, #bcd6f3 80%, #5899e2 100%);
  background: -webkit-linear-gradient(90deg, #fefefe 20%, #f5feff 40%, #deebf9 60%, #bcd6f3 80%, #5899e2 100%);
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
  background: '#00cea8';
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.cyan-blue-gradient {
  background: '#0ea5e9';
  background: linear-gradient(90.13deg, #0ea5e9 1.9%, #06b6d4 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #0ea5e9 1.9%, #06b6d4 97.5%);

}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #11998e, #38ef7d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2f80ed, #56ccf2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2f80ed, #56ccf2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ec008c, #fc6767); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ec008c, #fc6767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-line {
  background-image: linear-gradient(#38bdf8, #38bdf8);
  background-repeat: no-repeat;
}

@layer components {
  .text-animate-base {
    animation: base infinite 10s ease-in-out;
  }

  .animate-line-base {
    background-position: 0 calc(100% - 4px);
    background-size: 100% calc(4px * 2);
  }

  .text-animate-xs {
    animation: xs infinite 10s ease-in-out;
  }

  .animate-line-xs {
    background-position: 0 calc(100% - 5px);
    background-size: 100% calc(5px * 2);
  }

  .text-animate-sm {
    animation: sm infinite 10s ease-in-out;
  }

  .animate-line-sm {
    background-position: 0 calc(100% - 6px);
    background-size: 100% calc(6px * 2);
  }

  .text-animate-md {
    animation: md infinite 10s ease-in-out;
  }

  .animate-line-md {
    background-position: 0 calc(100% - 7px);
    background-size: 100% calc(7px * 2);
  }

  .text-animate-lg {
    animation: lg infinite 10s ease-in-out;
  }

  .animate-line-lg {
    background-position: 0 calc(100% - 8px);
    background-size: 100% calc(8px * 2);
  }

  .text-animate-xl {
    animation: xl infinite 10s ease-in-out;
  }

  .animate-line-xl {
    background-position: 0 calc(100% - 9px);
    background-size: 100% calc(9px * 2);
  }

  .text-animate-2xl {
    animation: xxl infinite 10s ease-in-out;
  }

  .animate-line-2xl {
    background-position: 0 calc(100% - 10px);
    background-size: 100% calc(10px * 2);
  }

  .text-animate {
    @apply text-animate-base xs:text-animate-xs sm:text-animate-sm md:text-animate-md lg:text-animate-lg xl:text-animate-xl 2xl:text-animate-2xl;
  }

  .animate-line {
    @apply text-line animate-line-base xs:animate-line-xs sm:animate-line-sm md:animate-line-md lg:animate-line-lg xl:animate-line-xl 2xl:animate-line-2xl;
  }
}
