/* :root {
  --swiper-pagination-color: #1e1e1e
  --swiper-pagination-bullet-inactive-color: #999999
  --swiper-pagination-bullet-inactive-opacity: 1
  --swiper-pagination-bullet-size: 16px
  --swiper-pagination-bullet-horizontal-gap: 0px
  --swiper-pagination-bullet-border-radius: none
  --swiper-pagination-bullet-width: var(--swiper-pagination-bullet-size)
  --swiper-pagination-bullet-height: 2px
} */

.swiper {
  width: 100%;
  padding-bottom: 30px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-scrollbar-horizontal {
  margin: auto;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  padding: 40px 0;
  background-color: transparent;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap);
}

.swiper-pagination-bullet::after,
.swiper-pagination-bullet-active::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active::after {
  background-color: #333;
}

.swiper-scrollbar-drag {
  background: #94a3b8;
}

@media screen and (min-width: 450px) {
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: calc(var(--swiper-pagination-bullet-width) * 2);
  }  
}

@media screen and (min-width: 768px) {
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: calc(var(--swiper-pagination-bullet-width) * 3);
  }  
}

@media screen and (min-width: 1024px) {
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: calc(var(--swiper-pagination-bullet-width) * 4);
  }  
}

@media screen and (min-width: 1280px) {
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: calc(var(--swiper-pagination-bullet-width) * 5);
  }  
}

@media screen and (min-width: 1440px) {
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: calc(var(--swiper-pagination-bullet-width) * 6);
  }  
}
